* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-logo: 'Leckerli One', sans-serif;
  --font-family-title: 'Baloo 2', sans-serif;
  --font-family-text: 'Open Sans', sans-serif;

  --text-logo: 400 2.5rem var(--font-family-logo);

  --text-title-md: 700 1.75rem var(--font-family-title);
  --text-title-sm: 700 1.125rem var(--font-family-title);

  --text-md: 400 1rem var(--font-family-text);
  --text-sm: 400 0.875rem var(--font-family-text);
  --text-xs: 400 0.75rem var(--font-family-text);

  --color-brand-light: #59B2FF;
  --color-brand-mid: #3487CF;
  --color-brand-dark: #1D6FB6;

  --color-purple: #B259FF;
  --color-fuschia: #FF59F9;
  --color-pink: #FF598B;
  --color-orange: #FF8B59;
  --color-yellow: #FFCD59;
  --color-lime: #E1FF59;
  --color-green: #59FF91;
  --color-cyan: #59FFF9;
  --color-navy: #6A59FF;

  --color-danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
}

body {
  overflow: hidden;
  background-color: var(--shape-background);
  
  font: var(--text-md);
  color: var(--text-heading);
}

h1 {
  font: var(--text-logo);
  color: var(--pink);
}

h2 {
  font: var(--text-title-md);
}

img {
  max-width: 100%;
  height: auto;
}